/*Formulaires de contact de l'admin*/
.contact-form {
  .data-wrap {
    margin-top: 40px;
    background: #FFF;
    padding: 20px;

    > label {
      padding-top: 0;
      margin-bottom: 20px;
    }
  }

  #data, #options > .form-group {
    border: 1px solid #DDD;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #FFF;

    label {
      padding-top: 0;
    }

    .checkbox-wrap {
      float: right;
      margin-left: 10px;

      label,
      input {
        display: inline-block;
      }

      input {
        margin-left: 5px;
      }
    }

  }

  .choice {
    float: none;
    width: auto;
    clear: both;
    overflow: hidden;
    border: 1px solid #DDD;
    padding: 10px;
    margin: 10px 0;
    position: relative;

    > label {
      float: left;
    }

    > .form-group {
      margin: 0;

      select {
        width: 100%;
        line-height: 1.3;
        padding: 10px;
        height: auto;
      }
    }

    .remove-choice {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }

    &:hover .remove-choice {
      display: block;
    }
  }

  .add-choice-wrap {
    clear: both;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .ui-sortable-placeholder {
    margin-bottom: 10px;
    background: #F1F1F1;
    visibility: visible !important;
  }

  .dragHandle {
    cursor: move;
  }
}
